@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<section id="banner_parallax" class="slide_banner1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="full">
                    <div class="slide_cont">
                        <h2>Familiarize Your Creative Application</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium..!</p>
                        <div class="full slide_bt"> <a class="white_bt bt_main" href="index.html">Download</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <div class="slide_pc_img wow fadeInRight" data-wow-delay="1s" data-wow-duration="2s"> <img src="images/pc-banner.png" alt="#" /> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end header -->
<!-- section -->
<section class="layout_padding padding_top_0">
    <div class="container">
        <div class="row margin_bottom_30">
            <!-- featured cont -->
            <div class="col-md-6 cont_theme_blog">
                <div class="full">
                    <h3>Unique app with different features</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br><br>Ut enim ad minima veniam quis nostrum exercitationem ullam corporis..!</p>
                </div>
            </div>
            <!-- end featured cont -->
            <!-- featured image -->
            <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
                <div class="full">
                    <div class="center"><img src="images/ser1.png" alt="#" /></div>
                </div>
            </div>
            <!-- end featured image -->
        </div>
        <div class="row margin_bottom_30">
            <!-- featured image -->
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5" data-wow-duration="1s">
                <div class="full">
                    <div class="center"><img src="images/ser2.png" alt="#" /></div>
                </div>
            </div>
            <!-- end featured image -->
            <!-- featured cont -->
            <div class="col-md-6 cont_theme_blog">
                <div class="full">
                    <h3>Why it’s best app for your business</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br><br>Ut enim ad minima veniam quis nostrum exercitationem ullam corporis..!</p>
                </div>
            </div>
            <!-- end featured cont -->
        </div>
        <div class="row margin_bottom_30">
            <!-- featured cont -->
            <div class="col-md-6 cont_theme_blog">
                <div class="full">
                    <h3>Auricle integrated all populatar tools</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br><br>Ut enim ad minima veniam quis nostrum exercitationem ullam corporis..!</p>
                </div>
            </div>
            <!-- end featured cont -->
            <!-- featured image -->
            <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
                <div class="full">
                    <div class="center"><img src="images/ser3.png" alt="#" /></div>
                </div>
            </div>
            <!-- end featured image -->
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding gradiant_bg cross_layout">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="information_blogs">
                    <div class="imf_icon"><img src="images/icon1.png" alt="#" /></div>
                    <div class="imf_head">
                        <h3>Awesome Features</h3>
                    </div>
                    <div class="imf_cont">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium</p>
                    </div>
                    <div class="imf_read"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="information_blogs">
                    <div class="imf_icon"><img src="images/icon2.png" alt="#" /></div>
                    <div class="imf_head">
                        <h3>Creative Design</h3>
                    </div>
                    <div class="imf_cont">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium</p>
                    </div>
                    <div class="imf_read"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="information_blogs">
                    <div class="imf_icon"><img src="images/icon3.png" alt="#" /></div>
                    <div class="imf_head">
                        <h3>24 Hours Supports</h3>
                    </div>
                    <div class="imf_cont">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium</p>
                    </div>
                    <div class="imf_read"><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding layer_style">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="full text_align_center">
                    <div class="heading_main center_head_border heading_style_1">
                        <h2>Auricle <span>Features</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row app-features">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-left">
                    <li>
                        <i class="flaticon-wordpress-logo"></i>
                        <div class="fl-inner">
                            <h4>WordPress Installation</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-windows"></i>
                        <div class="fl-inner">
                            <h4>Browser Compatible</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-price-tag"></i>
                        <div class="fl-inner">
                            <h4>eCommerce Ready</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-new-file"></i>
                        <div class="fl-inner">
                            <h4>Easy to Customize</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-right">
                    <li>
                        <i class="flaticon-pantone"></i>
                        <div class="fr-inner">
                            <h4>Limitless Colors</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-cloud-computing"></i>
                        <div class="fr-inner">
                            <h4>Lifetime Update</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-line-graph"></i>
                        <div class="fr-inner">
                            <h4>SEO Friendly</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-coding"></i>
                        <div class="fr-inner">
                            <h4>Simple Clean Code</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
                <div class="full">
                    <div class="center">
                        <img src="images/application_screen.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding gradiant_bg cross_layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="full text_align_center white_fonts">
                    <div class="heading_main center_head_border heading_style_1">
                        <h2>Easy <span>Steps</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row step_section">
            <div class="offset-xl-1 col-xl-10 col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="step_blog arrow_right_step">
                            <div class="step_inner">
                                <i class="fa fa-diamond"></i><br>
                                <p>Go app store</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="step_blog">
                            <div class="step_inner">
                                <i class="fa fa-user"></i><br>
                                <p>Create an Account</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="step_blog">
                            <div class="step_inner">
                                <i class="fa fa-download"></i><br>
                                <p>Download & Install</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="step_blog">
                            <div class="step_inner">
                                <i class="fa fa-thumbs-up"></i><br>
                                <p>Enjoy & Rate us!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="full">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="full text_align_center">
                            <div class="heading_main center_head_border heading_style_1">
                                <h2>Table price</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="full" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="table_price text_align_center">
                                <div class="table_price_head">
                                    <h5>Basic</h5>
                                </div>
                                <div class="table_price_cont">
                                    <div class="table_price_per">
                                        <p>
                                            $29.00<br>
                                            <small>/month</small>
                                        </p>
                                    </div>
                                    <div class="table_price_cont_bottm">
                                        <ul>
                                            <li>100 MB Disk Space</li>
                                            <li>2 Subdomains</li>
                                            <li>5 Email Accounts</li>
                                            <li>Customer Support 24/7</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="table_price_bottm"> <a class="bt_main" href="index.html">Buy now</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="active_price table_price text_align_center">
                                <div class="table_price_head">
                                    <h5>Standard</h5>
                                </div>
                                <div class="table_price_cont">
                                    <div class="table_price_per">
                                        <p>
                                            $39.00<br>
                                            <small>/month</small>
                                        </p>
                                    </div>
                                    <div class="table_price_cont_bottm">
                                        <ul>
                                            <li>100 MB Disk Space</li>
                                            <li>2 Subdomains</li>
                                            <li>5 Email Accounts</li>
                                            <li>Customer Support 24/7</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="table_price_bottm"> <a class="reverse_bt bt_main" href="index.html">Buy now</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="table_price text_align_center">
                                <div class="table_price_head">
                                    <h5>Profesional</h5>
                                </div>
                                <div class="table_price_cont">
                                    <div class="table_price_per">
                                        <p>
                                            $45.00<br>
                                            <small>/month</small>
                                        </p>
                                    </div>
                                    <div class="table_price_cont_bottm">
                                        <ul>
                                            <li>100 MB Disk Space</li>
                                            <li>2 Subdomains</li>
                                            <li>5 Email Accounts</li>
                                            <li>Customer Support 24/7</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="table_price_bottm"> <a class="bt_main" href="index.html">Buy now</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="contact_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6" style="padding:0;">
                <div class="full">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" style="padding:0;">
                <div class="full">
                    <div class="contact_form white_heading_border">
                        <div class="contact_form_inner">
                            <div class="full_heading white_fonts heading_main heading_style_1">
                                <h2>Contact <span>us</span></h2>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <div class="form_contact">
                                <!-- form -->
                                <form action="index.html">
                                    <fieldset>
                                        <div class="field">
                                            <input type="text" name="name" placeholder="Your name" required="">
                                        </div>
                                        <div class="field">
                                            <input type="text" name="name" placeholder="Your phone" required="">
                                        </div>
                                        <div class="field">
                                            <input type="email" name="email" placeholder="Email" required="">
                                        </div>
                                        <div class="field">
                                            <textarea name="messager" placeholder="Messager" required=""></textarea>
                                        </div>
                                        <div class="field">
                                            <button class="field_bt">Send</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <!-- end form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- footer -->